.page {
  display: flex;
  min-height: 100vh;
  align-items: stretch;
  justify-content: center;
  padding: 0;
  font-family: var(--font-geist-sans);
  background-color: transparent;
}

.main {
  width: 100%;
  max-width: none;
}

