.page {
  display: flex;
  min-height: 100vh;
  align-items: stretch;
  justify-content: center;
  padding: 32px 16px;
  font-family: var(--font-geist-sans);
  background-color: transparent;
}

.main {
  width: 100%;
  max-width: 1024px;
}

